@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Urbanist", sans-serif;
  background-color: rgb(227, 226, 226);
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
