.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.imageLoader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 100;
  top: 32%;
  left: 44%;
}

.loaderIcon {
  font-size: 3rem;
  color: rgb(15, 15, 157);
  animation: App-logo-spin infinite 5s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
